@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

$color-white: #fff;
$color-lightblue:rgba(160,202,231, 0.8);
$color-lightwhite: rgba(255, 255, 255, 0.8);
$color-primary: #007bff;
$primary-active: #0062cc;
$border-active: #005cbf;
$font-color: #2b588b;

$fs-1: 3rem;
$fs-2: 2.5rem;
$fs-3: 2rem;
$fs-4: 1.75rem;
$fs-5: 1.5rem;
$fs-6: 1.25rem;
$ps-1: 1rem;

$font-oswald: 'Oswald', sans-serif;
$font-raleway: 'Raleway', sans-serif;

$font-4: 400;
$font-7: 700;

//
// Font Size
//
h1 {
    font-size: $fs-1;
}

h2 {
    font-size: $fs-2;
}

h3 {
    font-size: $fs-3;
}

h4 {
    font-size: $fs-4;
}

h5 {
    font-size: $fs-5;
}

h6 {
    font-size: $fs-6;
}

p {
    font-size: $ps-1;
}

//
// Font Family
//

h1, h2, h3, h4, h5, h6 {
    font-family: $font-oswald;
    font-style: normal;
    font-weight: 500;
}

p {
    font-family: $font-raleway;
    font-style: normal;
    font-weight: $font-4;
}

//
// Jumbotron Section
// 

.drk:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:#000;
    opacity: 0.3;;
}

.ccb {
    background: rgba(0,0,0,0.6);
}

//  
// Donation Form
// 

#donationForm {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#donationForm h2,
#gift-amount h6,
#memorial h3,
#billing h3,
#payment h3,
#payment h4 {
    color: $font-color;
}

#donationForm .btn-secondary:hover {
    background-color: $color-primary;
    border-color: $color-primary;
    color: $color-white;
}

#donationForm .btn-secondary:active,
#donationForm .btn-secondary:focus {
    color: $color-white;
    border-color: $border-active !important;
    background-color: $primary-active !important;
    box-shadow: 0 0 0 .2rem rgba(38,143,255,.5);
}

//  
// footer
// 

.footer {
    background-color: #667f8d;
    color: $color-white;
}
.footer h3,
.footer h4 {
    text-transform: capitalize;
    padding: .5rem 0;
}

.nav_link h6 {
    font-weight: 500 !important;
}

.nav_link li:nth-child(even) {
    width: 50%;
    float: right;
    list-style-type: none;
}

.nav_link li:nth-child(odd) {
    width: 50%;
    float: left;
    list-style-type: none;
}

.nav_link > li > a {
    color: $color-white;
}

.nav_link > li > a:hover {
    color: $color-lightblue;
    text-decoration: none;
}
#FooterInputEmail1 {
    background-color: $color-lightwhite;
    border: 7px solid #8c189b !important;
    border-radius: 25px 0 0 25px !important;
    color: #000;
    font-size: 1.25rem;
    height: 3.27125rem !important;
    margin-bottom: 0;
}

input::placeholder {
    color: red;
    font-size: 1.2em;
    font-style: italic;
}

.form-inline .btn {
    background-color: #8c189b;
    border-color: #8c189b;
    border-radius: 0 25px 25px 0 !important;
    font-size: 1.25rem;
    height: 3.27125rem !important;
}

/* Social Media  */
.social-menu li {
    display: inline-block !important;
}

.fa {
    margin: 0 10px;
    font-size: 40px;
    text-decoration: none;

}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
    text-decoration: none;
    color: $color-lightblue;
}

/* Facebook */
.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-vimeo,
.fa-youtube {
    color: white;
}

#btm-section {
    padding: 1rem;
}

@media screen and (max-width: 992px) {
    .form-inline .btn  {
        border-radius: 0 0 0 0 !important;
        padding: 0 auto;
    }
    #FooterInputEmail1 {
        border-radius: 0px 0px 0px 0px !important;
        padding: 0 auto;
    }
}